@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #E5D0FD;
    text-align: center;
    padding: 10px 0;
}

header img {
    width: 100px;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    font-size: 16px;
}

header nav a:active {
    color: white;
}

:root {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.titles {
    margin: 2rem auto;
    color: #843088;
    text-align: center;
}

h1 {
    font-size: 70px;
    letter-spacing: 10px;
    line-height: 1.0;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    margin: 0 auto;
}

div h1 span {
    letter-spacing: 0;
    font-size: 60px;
    position: relative;
    bottom: 10px;
}

p {
    font-size: 40px;
    background-color: rgba(255, 255, 255, 1);
    width: 70%;
    padding: 0 1rem;
    margin: 1rem auto 0 auto;
}

.collections {
    max-width: 84vw;
    margin: 0 auto;
}

.collections img {
    width: 80vw;
    margin: 0 auto;
}

.blackstar2 {
    margin-bottom: 2rem;
}

footer {
    color: white;
    text-align: center;
    margin: 2rem auto;
    width: 350px;
}

footer small {
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    header nav a {
        font-size: 18px;
    }

    h1 {
        font-size: 82px;
    }

    div h1 span {
        position: relative;
        bottom: 30px;
    }

    p {
        font-size: 44px;
        width: 450px;
        margin: 1rem auto 0 auto;
    }

    .collections img {
        max-width: 40vw;
    }

    .blackstar2, .early {
        display: flex;
    }
}

@media only screen and (min-width: 1220px) {
    header nav a {
        font-size: 20px;
    }

    h1 {
        font-size: 120px;
        width: 67%;
    }

    div h1 span {
        position: relative;
        bottom: 60px;
    }

    p {
        font-size: 72px;
        width: 700px;
    }

    .collections {
        max-width: 80vw;
    }

    .collections img {
        width: 38vw;
    }
}